.container {
    margin:3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.container ul{
    list-style-type: none;
  }
.introText{
    width:80vw;
    padding-bottom: 2%;
    margin-bottom: 2%;
  border-bottom: 1px solid #eaeaea;
}
.introTitle{
    font-size:3em;
}
.introSubtitle{
    font-size: 1em;
}