.projectPage{
width: 80vw;
min-height: 40vh;
display:grid;
  grid-template-columns: 50% 50%;
  grid-row:100%;
  margin-top:2%;
  margin-bottom: 2%;
  border-bottom: 1px solid #eaeaea;
}
.leftSide{
 
  grid-column: 1;
  grid-row: 1;
  
}
.rightSide{
    padding-left:2%;
    grid-column: 2;
    grid-row: 1;
    
    
}
.shortDesc{
    padding-top:2%;
}
.textDescriber{
    color: #bab8b7;
}
/*.rightSide .projectTextSide{
    padding-left: 2%
}*/
.projectPageTitle{
    font-size: 2em;
}


@media all and (min-width: 150px) and (max-width: 950px) {
    .projectPage{
        display:block;
        
        
    }
    .rightSide{
        padding-left:0%;
       
    }
  }